<!DOCTYPE html>
<html lang="en">
<head>
<% include head %>
</head>
<body class="container">

<header>
<% include header %>
</header>

<main>

<div class="jumbotron">
<h1>COMP 2912</h1>
<p>About page....</p>
</div>


</main>

<footer>
<% include footer %>
</footer>

</body>
</html>