<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<% include head %>
<script src="javascripts/orders.js"></script>
</head>
<body>
<div class="container">
<h1><%= title %></h1>

<ul class="nav nav-tabs">
<li><a href="/">Add Order</a></li>
<li class="active"><a href="/orders">Orders</a></li>
</ul>

<br/>
<div class="row">
  <div class="col-md-6">
    <input id="search" class="form-control" type="text" placeholder="Type Phone or Address"/><br/><br/>
  </div>
<div class="col-md-6" id="orders">

</div>
</body>
